.cursor{
    cursor: pointer;
    color: white;
}

.text-decorator-none{
    text-decoration: none;
}

#navegacao{
    background: rgb(0,0,0) !important;
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(135,116,77,1) 35%, rgba(0,0,0,1) 100%) !important;
}