.imagem2{
    background-image: url(https://vsthemes.org/uploads/posts/2021-04/1617428116_skrinshot-03-04-2021-10_33_56.png);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}

.cor-cad{
    background-color: #0e1036;
    background-image: linear-gradient(90deg, #0e1036 0%, #1c247d 30%, #a8b6e1 59%, #a8b6e1 100%);


}