.img2{

    background-image: url(https://1.bp.blogspot.com/-Y6k5zdABmSg/XjmmQeii8aI/AAAAAAAATl8/4uV5ncnMbjo-Pgjku1glL89h2dKj-UpIgCLcBGAsYHQ/s1600/CAPA.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.text{
    font-weight: bold !important;
}
.btnCancelar{
    margin-right: 20px !important;
}